@charset "UTF-8";
/* CSS Document */

/*Start of Header Elements*/
header {
  background-color: white;
  width: 100%;
  z-index: 10;
  position: relative;
  min-height: 30px;
  display: inline-block;
  text-align: center;
}

.logo{
	background: white;
	padding: 10px;
}

nav{
	background-color: #1E1D1D;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
}

.arrowWhite{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.arrowBlack{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

ul {
  width: 90%;
  display: flex;
  list-style: none;
  justify-content: space-between;
	
}

nav li {
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

/*End of Header Elements*/

main  {
  text-align: left;
  position: relative;
  margin-top: -7px;
}

h1 {
	font-size: 50px;
	color: white;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
	text-transform: uppercase;
}


h3{
  color: black;
  font-weight: 650;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

p{
  font-weight: 200;
  font-size: 18px;
  position: relative;
  font-family: "Bree Serif", serif;
  font-style: normal;
}

.line {
  width: 100%;
  margin: 0;
  z-index: 11; 
}

#AboutUs {
	margin-left: 40px;
	margin-right: 40px;
}

#AboutUs hr{
	width: 170px;
	float: left;
	margin-top: -30px;
	
}

.TestimonialSection{
	background: black;
	padding: 40px;
	margin-top: 60px;
	display: inline-block;
}

.TextForTesties{
	float: right;
	display: inline-block;
	width: 40%;
	margin-top: 250px;
}

.TextForTesties h3{
	color: white;
	position: relative;
}

.TextForTesties p{
	color: white;
}
/*Carosel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  border: #FFCC00, solid;
  border-width: 30px;
  margin-top: 50px;
  position: relative;
 display: inline-block;
}

/* Hide the images by default */
.mySlides {
  display: show;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Inter", sans-serif;
  background: #98000E;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 6px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.HoursSection{
	height: 450px;
}

.HoursText{
	float: left;
	margin-left: 40px;
	margin-left: 60px;
	display: inline-block;
	width: 40%;
	color: black;
	height: 450px;

}

.HoursText hr{
	width: 120px;
	float: left;
	margin-top: -25px;
	
}


#imgBox{
	display: inline-block;
	width: 50%;
	float: right;
	object-fit: cover;
	height: 450px;
}

/*Footer Stuff*/
footer {
  background-image: url("resrevations (2).jpg");
  position:relative;
  
  width: 100%;

}
#ImageBox{
	width: 100%;
	margin: 0, auto;
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}

#ImageBox #Logo{
	float: left;
	background: white;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0;
}

footer h4{
	margin-top: 20px;
	color: white;
	font-family: "Inter", sans-serif;
  	font-weight: 600;
	font-size: 21px;
  	font-style: normal;
	text-transform: uppercase;
}

footer p {
	color: white;
	font-family: "Bree Serif", serif;
  	font-weight: 100;
	font-size: 14px;
  	font-style: normal;
	
}

.Content{
	display: inline-block;
	width: 20%;
	margin-left: 0px;
	margin-top: 20px;
	float: left;
}


.Content hr{
	width: 110px;
	float: left;
	margin-top: -25px; 
}

.Content2{
	display: inline-block;
	width: 20%;
	margin-left: 0px;
	margin-top: 20px;
	float: left;
}


.Content2 hr{
	width: 145px;
	float: left;
	margin-top: -25px; 
}


.Content3{
	display: inline-block;
	width: 15%;
	margin-left: 40px;
	margin-top: 20px;
	float: left;
}


.Content3 hr{
	width: 100px;
	float: left;
	margin-top: -25px; 
}

.Content3 img{
  background: #F9BB24;
  padding: 5px;
}

.Content3 #AddRight{
	margin-right: 5px;
}

.Contents{
 	display: flex;
	justify-content: space-evenly;
	margin-right: 90px;
}