@charset "UTF-8";
/* CSS Document */
html, body {
    margin: 0;
    padding: 0;
}

/*Fonts for all site pages*/
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}


/*Start of Header Elements*/
header {
    background-color: white;
    width: 100%;
    z-index: 10;
    position: relative;
    min-height: 30px;
    display: inline-block;
    text-align: center;
}

.line {
    width: 100%;
    margin: 0;
    z-index: 11; 
}

.logo{
    background: white;
    padding: 10px;
}

nav{
    background-color: #1E1D1D;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.arrowWhite{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.arrowBlack{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
}

ul {
    width: 90%;
    display: flex;
    list-style: none;
    justify-content: space-between;

}

nav li {
    color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

/*End of Header Elements*/
/*Beginning of Body Elements*/
#list {
    list-style: circle;
    width: 90%;
    display: block;
    font-size: 28px;
}

#list li {
    font-size: 28px;
}

.Lines {
    width: 10%;
    margin-top: 5px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: flex-start; 
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
}

.list-container {
    width: 50%;
}

.image-container {
    margin-left: 20px; 
}

.section-title {
    font-size: 28px;
    padding-left: 25px;
    clear: both;
    margin-bottom: 0;
}

.title {
    font-size: 35px;
    padding-left: 20px;
}
/*End of Body Elements*/
/*Footer Stuff*/
footer {
    background-image: url("resrevations (2).jpg");
    position:relative;
    width: 100%;
}

#ImageBox{
    width: 100%;
    margin: 0, auto;
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}

#ImageBox #Logo{
    float: left;
    background: white;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
}

footer h4{
    margin-top: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21px;
    font-style: normal;
    text-transform: uppercase;
}

footer p {
    color: white;
    font-family: "Bree Serif", serif;
    font-weight: 100;
    font-size: 14px;
    font-style: normal;
    
}

.Content{
    display: inline-block;
    width: 20%;
    margin-left: 0px;
    margin-top: 20px;
    float: left;
}

.Content hr{
    width: 110px;
    float: left;
    margin-top: -25px; 
}

.Content2{
    display: inline-block;
    width: 20%;
    margin-left: 0px;
    margin-top: 20px;
    float: left;
}

.Content2 hr{
    width: 145px;
    float: left;
    margin-top: -25px; 
}

.Content3{
    display: inline-block;
    width: 15%;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
}

.Content3 hr{
    width: 100px;
    float: left;
    margin-top: -25px; 
}

.Content3 img{
background: #F9BB24;
padding: 5px;
}

.Content3 #AddRight{
    margin-right: 5px;
}

.Contents{
    display: flex;
    justify-content: space-evenly;
    margin-right: 90px;
}
/*End Footer Stuff*/

/*Carousel Stuff*/
.image-carousel {
    width: 445px;
    height: 272px;
    overflow: hidden;
    position: relative;
}
  
.image-carousel .inner-carousel {
    display: flex;
    position: absolute;
    left: 0;
    transition: left 0.25s ease-out;
}
  
.image-carousel .bubbles {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
}
  
.image-carousel .bubbles .bubble {
    margin: 2.5px;
    background-color: white;
    border-radius: 100000px;
    width: 10px;
    height: 10px;
    display: inline-block;
    opacity: 0.25;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
  
.image-carousel .bubbles .bubble:hover {
    opacity: 0.65;
}
  
.image-carousel .bubbles .bubble.active {
    opacity: 1;
}
  
 .image-carousel .next::after, .image-carousel .prev::after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 0;
    background-color: white;
    font-size: 20px;
    width: 1em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(-50%);
    line-height: 3em;
    box-sizing: border-box;
    padding: 0 0.2em;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.1s linear;
}
  
.image-carousel .next:hover::after, .image-carousel .prev:hover::after {
    opacity: 1;
}
  
.image-carousel .prev::after {
    content: '<';
    left: 0;
}
  
/*Carousel Stuff End*/

.MessageBlock {
	display: inline-block;
	width: 400px;
	float: left;
	color: black;
    margin-left: 25px;
}

.MessageBlock h3 {
	color: black;
	font-size: 40px;
}

h3 {
    font-weight: 650;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

#MessageUnderline1 {
    margin-top: -35px;
	width: 115px;
	float: left;
    margin-bottom: 60px;
}

#MessageUnderline2 {
    margin-top: -35px;
	width: 150px;
	float: left;
}

li {
    font-weight: 200;
    font-size: 18px;
    position: relative;
    font-family: "Bree Serif", serif;
    font-style: normal;
}