@charset "UTF-8";
/* CSS Document */
html, body {
  margin: 0;
  padding: 0;
}

/*Fonts for all site pages*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}


/*Start of Header Elements*/
header {
  background-color: white;
  width: 100%;
  z-index: 10;
  position: relative;
  min-height: 30px;
  display: inline-block;
  text-align: center;
}

.logo{
	background: white;
	padding: 10px;
}

nav{
	background-color: #1E1D1D;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
}

.arrowWhite{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.arrowBlack{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

ul {
  width: 90%;
  display: flex;
  list-style: none;
  justify-content: space-between;
	
}

nav li {
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

/*End of Header Elements*/

/*Start of Main Page's Content*/

#CrabRangoon{
	display: relative;
    background-color: black;
    height: 500px;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.line {
  width: 100%;
  margin: 0;
  z-index: 11; 
}

.Banner{
	width: 280px;
	z-index: 10; 
	float: right;
	margin-right: 100px;
	margin-top: 140px;
}

.Banner hr {
	margin-top: -30px;
}

main  {
  text-align: left;
  position: relative;
  margin-top: -7px;
}

h1 {
	font-size: 50px;
	color: white;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
	text-transform: uppercase;
}


h3{
  color: #009A48;
  font-weight: 650;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

p{
  font-weight: 200;
  font-size: 18px;
  position: relative;
  font-family: "Bree Serif", serif;
  font-style: normal;
}


.btn-main {
  color: #fff;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/*End of Crab Banner*/

.MessageBlock{
	margin-left: 60px;
	margin-top: 30px;
	display: inline-block;
	width: 30%;
	float: left;
	color: black;
}

.MessageBlock h3{
	color: black;
	font-size: 40px;
}

.MessageBlock hr {
	margin-top: -35px;
	width: 300px;
	float: left;
}

.MessageBlock a{
	color: black;
	
}

.ImageBlock1{
	display: inline-block;
	width: 50%;
	float: right;
	height: 350px;
	object-fit: cover;
}


.ImageBlock2{
	display: inline-block;
	width: 50%;
	float: left;
	height: 350px;
	object-fit: cover;
}

.OrderOnline{
  height: 350px;
}

.Reservations{
  height: 350px;
}



/*Footer Stuff*/
footer {
  background-image: url("resrevations (2).jpg");
  position:relative;
  width: 100%;

}
#ImageBox{
	width: 100%;
	margin: 0, auto;
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
    background-blend-mode: darken;
}

#ImageBox #Logo{
	float: left;
	background: white;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0;
}

footer h4{
	margin-top: 20px;
	color: white;
	font-family: "Inter", sans-serif;
  	font-weight: 600;
	font-size: 21px;
  	font-style: normal;
	text-transform: uppercase;
}

footer p {
	color: white;
	font-family: "Bree Serif", serif;
  	font-weight: 100;
	font-size: 14px;
  	font-style: normal;
	
}

.Content{
	display: inline-block;
	width: 20%;
	margin-left: 0px;
	margin-top: 20px;
	float: left;
}


.Content hr{
	width: 110px;
	float: left;
	margin-top: -25px; 
}

.Content2{
	display: inline-block;
	width: 20%;
	margin-left: 0px;
	margin-top: 20px;
	float: left;
}


.Content2 hr{
	width: 145px;
	float: left;
	margin-top: -25px; 
}


.Content3{
	display: inline-block;
	width: 15%;
	margin-left: 40px;
	margin-top: 20px;
	float: left;
}


.Content3 hr{
	width: 100px;
	float: left;
	margin-top: -25px; 
}

.Content3 img{
  background: #F9BB24;
  padding: 5px;
}

.Content3 #AddRight{
	margin-right: 5px;
}

.Contents{
 	display: flex;
	justify-content: space-evenly;
	margin-right: 90px;
}